%article.container-fluid.shop
	= render "layouts/head_bar"
	.row-fluid.all-controls
		.span2
			= render "layouts/nav"
		.span10
			= render "layouts/composer_help"
			.best.showcase
				.section
					.page-header
						%h2 Как создать композицию?