= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.wishes
			.alert.alert-info
				Здесь вы можете добавлять в список свои пожелания относительно наличия композиций в магазине, те которые вы хотели бы приобрести или получить бесплатно. Мы их обязательно найдем и сообщим вам. 
			%table.table
				%tbody
					- @wishes.each do |wish|
						- if wish.finded?
							%tr{style: "background: #D9EDF7;"}
								%td= wish.w_name
								%td= wish.author
								%td= wish.instrument
								%td= wish.genre
								%td= link_to image_tag("delete.png"), users_wish_path(wish), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить это пожелание?", title: "Удалить пожелание"
						- else
							%tr
								%td= wish.w_name
								%td= wish.author
								%td= wish.instrument
								%td= wish.genre
								%td= link_to image_tag("delete.png"), users_wish_path(wish), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить это пожелание?", title: "Удалить пожелание"
			.add-wish
				%a.btn.btn-info.btn-large{href: "/users/wishes/new"} Добавить пожелание