= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.wishes.new
			%h2 Добавление пожелания
			= form_for @wish, :url => users_wishes_path,:html => {:class => "form-horizontal"} do |f|
				.control-group
					= f.label 'Название', class: "control-label"
					.controls
						= f.text_field :w_name
						%span.help-inline композиции или альбома
				.control-group
					= f.label 'Автор', class: "control-label"
					.controls
						= f.text_field :author
				.control-group
					= f.label 'Инструмент', class: "control-label"
					.controls
						= f.text_field :instrument
				.control-group
					= f.label 'Жанр', class: "control-label"
					.controls
						= f.text_field :genre
				.control-group
					= f.label 'Коментарий', class: "control-label"
					.controls
						= f.text_area :comment
				.control-group
					.controls
						= f.submit 'Добавить', class: "btn btn-info btn-large"