= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.wishes.order
			.section
				.page-header
					%h2 
						Заказ №:
						= @InvId
						= image_tag("robo.png", size: "200x20", class: "pull-right")
				.include
					%h4 К оплате:
					%table.table.table-hover
						%thead
							%tr
								%th #
								%th Тип
								%th Наименование
								%th Цена
						%tbody
							%tr
								%td 1
								%td= @What
								%td= @Name
								%td 
									= @OutSumm
									руб
					%h4 
						Итого:
						= @OutSumm
						руб

					%form{action:'https://auth.robokassa.ru/Merchant/Index.aspx', method: :post}
						%input{type: 'hidden', name: 'MrchLogin', value: @MrchLogin}
						%input{type: 'hidden', name: 'OutSum', value: @OutSumm} 
						%input{type: 'hidden', name: 'InvId', value: @InvId}
						%input{type: 'hidden', name: 'Desc', value: @Desc}
						%input{type: 'hidden', name: 'SignatureValue', value: @SignatureValue}
						%input{type: 'hidden', name: 'Shp_item', value: @Shp_item}
						%input{type: 'hidden', name: 'IncCurrLabel', value: @IncCurrLabel}
						%input{type: 'hidden', name: 'Culture', value: @Culture}
						%input{type: 'submit', value: 'Оплатить', class: 'btn btn-success btn-large pay'}