= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.wishes
			.alert.alert-error
				Неудачная попытка оплаты. Пожалуйста, попробуйте позже.
			.add-wish
				%a.btn.btn-danger.btn-large{href: "/"} Вернутся в магазин
