= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.notifications
			.alert.alert-info
				Здесь время от времени будут появляться сообщения и новости от магазина ITNotes. Обновления, акции и специальные предложения, а так же оповещения о важных событиях и другое.
			%table.table.table-striped
				%tbody
					- @notifys.each do |notify|
						%a{href: "/users/notifications/#{notify.id}"}
							- if !notify.viewed?
								%tr
									%td.date= notify.created_at.to_date.to_s(:db)
									- if !notify.viewed?
										%td.title-new= notify.title
									- else 
										%td.title= notify.title
									%td= link_to image_tag("delete.png"), users_notification_path(notify), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить это сообщение?", title: "Удалить сообщение"
							- else 
								%tr{style: "background: #D9EDF7;"}
									%td.date= notify.created_at.to_date.to_s(:db)
									- if !notify.viewed?
										%td.title-new= notify.title
									- else 
										%td.title= notify.title
									%td= link_to image_tag("delete.png"), users_notification_path(notify), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить это сообщение?", title: "Удалить сообщение"