.notifications
	.nav-bar
		%span.position Сообщения
		%span.user
			%a.pull-right{href: "/users/accounts/#{current_user.id}/edit"}
				-if user_signed_in?
					= current_user.email
	.row-fluid.all-controls
		.span2
			= render "layouts/nav"
		.span10
			= @notify.body.html_safe