= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.register.edit
			.page-header
				%h2.edit-account 
					Информация о 
					= @account.user.email
					
			= form_for @account, :url => users_account_path,:html => {:class => "form-horizontal"} do |f|
				- if @account.errors.any?
					.alert.alert-danger
						Необходимо заполнить все поля
				%br
				.row
					.span5.up-form
						%br
						%br
						.control-group
							= f.label 'Имя', class: "control-label"
							.controls
								= f.text_field :f_name
						.control-group
							= f.label 'Фамилия', class: "control-label"
							.controls
								= f.text_field :l_name
					.span4
						%a{:href => "https://ru.gravatar.com/emails", :title => "Сменить аватар", :target => "_blank"}
							%span.avatar= gravatar_image_tag(current_user.email, :alt => 'avatar')
				.control-group
					= f.label 'Дата рождения', class: "control-label"
					.controls.date-select
						= f.date_select("birthday",{:start_year => 1900, :end_year => Time.now.year - 18, :order => [:day, :month, :year], :prompt => {:day => "День", :month => "Месяц", :year => "Год"}}, {:class => "chzn-select"})
						%script
							$(".chzn-select").chosen();
				.control-group
					= f.label 'О себе', class: "control-label"
					.controls
						= f.text_area :about
				.control-group
					.controls.edit-btn
						= f.submit "Ok", class: "btn btn-info btn-large"