%article.container.info
	.alert.alert-success
		Регистрация успешно завершена!
	.text
		В скором времени на вашу почту придет письмо с подтверждением вашей регистрации, но уже сейчас вы можете начать совершать покупки в магазине ITNotes. Удачных покупок!
	%br
	%h1
		= image_tag("check.png")
		Спасибо!
	%a.btn.btn-success.btn-large{:href => root_path} Перейти в магазин