%article.container-fluid.shop
	= render "layouts/head_bar"
	.row-fluid.all-controls
		- if user_signed_in?
			.span2
				= render "layouts/nav"
		%div{class: @page_size}
			= render "layouts/search"
			.row-fluid
				.span10.best
					.section.items
						.page-header
							%h2 
								= @item
						- if @view == "composition"
							.section
								.compositions
									%table.table.table-hover
										%thead
											%tr
												%th #
												%th Название
												%th Альбом
												%th Композитор 
												%th Жанр
												%th Инструмент
												%th
										%tbody
											- number = 1
											- @compositions.each do |composition|
												%tr
													%td= number
													%td= link_to composition.c_name, items_composition_path(composition)
													- if composition.album.nil?
														%td 
															\-
													- else
														%td{title: composition.album.a_name}
															= link_to truncate(composition.album.a_name, length: 20), items_album_path(composition.album)
													%td= link_to composition.author, show_category_path("Композиторы", composition.author)
													- if composition.genre != ""
														%td= link_to composition.genre, show_category_path("Жанры", composition.genre)
													- else 
														%td= link_to composition.album.genre, show_category_path("Жанры", composition.album.genre)
													%td= link_to composition.instrument, show_category_path("Инструменты", composition.instrument)
													%td
														- if composition.preferences[:audio] != "null"
															.player{id: "audio-#{composition.id}"}
															%a.icon-bullhorn{href:"#", id:"play-#{composition.id}", onclick: "soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: \"audio-#{composition.id}\", url: \"/assets/audio/#{composition.preferences[:audio]}\", autoLoad: false, autoPlay: false, volume: 50}); soundManager.play(\"audio-#{composition.id}\");} }); $(this).hide(); $(\"#pause-#{composition.id}\").show();" }
															%a.icon-pause{href:"#", style:"display: none;", id:"pause-#{composition.id}", onclick:"soundManager.stop(\"audio-#{composition.id}\"); $(this).hide(); $(\"#play-#{composition.id}\").show();" }
												- number += 1
						- if @view == "album"
							.albums
								- @items.each do |album|
									%a{:href => "/items/albums/#{album.id}"}
										.album
											= image_tag("/assets/covers/#{album.cover}", size: "80x80", class: "thumbnail")
											%span.album-name{:title => album.a_name}= truncate(album.a_name, length: 17)
											%br
											%span.author{:title => album.author}= album.short_composer
											%br
											%span.genre= truncate(album.genre, length: 17)
						- if @view == "compilation"
							.albums
								- @items.each do |compilation|
									%a{:href => "/items/compilations/#{compilation.id}"}
										.compilation
											%span.compilation-cover-mini.thumbnail
												- compilation.albums.limit(4).each do |album|
													= image_tag("/assets/covers/#{album.cover}", size: "60x60")
											%span.album-name{:title => compilation.c_name}= truncate(compilation.c_name, length: 30)
											%br
											%span.author{:title => compilation.author}= compilation.short_composer
						- if @view == "all"
							- if @compilations.any?
								.section
									.page-header
										%h3 Коллекции
									.albums
										- @compilations.each do |compilation|
											%a{:href => "/items/compilations/#{compilation.id}"}
												.compilation
													%span.compilation-cover-mini.thumbnail
														- compilation.albums.limit(4).each do |album|
															= image_tag("/assets/covers/#{album.cover}", size: "60x60")
													%span.album-name{:title => compilation.c_name}= truncate(compilation.c_name, length: 30)
													%br
													%span.author{:title => compilation.author}= compilation.short_composer
							- if @albums.any?
								.section
									.page-header
										%h3 Сборники
									.albums
										- @albums.each do |album|
											%a{:href => "/items/albums/#{album.id}"}
												.album
													= image_tag("/assets/covers/#{album.cover}", size: "80x80", class: "thumbnail")
													%span.album-name{:title => album.a_name}= truncate(album.a_name, length: 17)
													%br
													%span.author{:title => album.author}= album.short_composer
													%br
													%span.genre= truncate(album.genre, length: 17)
							- if @compositions.any?
								.section
									.page-header
										%h3 Композиции
									.compositions
										%table.table.table-hover
											%thead
												%tr
													%th #
													%th Название
													%th Альбом
													%th Композитор 
													%th Жанр
													%th Инструмент
													%th
											%tbody
												- number = 1
												- @compositions.each do |composition|
													%tr
														%td= number
														%td= link_to composition.c_name, items_composition_path(composition)
														- if composition.album.nil?
															%td 
																\-
														- else
															%td{title: composition.album.a_name}
																= link_to truncate(composition.album.a_name, length: 20), items_album_path(composition.album)
														%td= link_to composition.author, show_category_path("Композиторы", composition.author)
														- if composition.genre != ""
															%td= link_to composition.genre, show_category_path("Жанры", composition.genre)
														- else 
															%td= link_to composition.album.genre, show_category_path("Жанры", composition.album.genre)
														%td= link_to composition.instrument, show_category_path("Инструменты", composition.instrument)
														%td
															- if composition.preferences[:audio] != "null"
																.player{id: "audio-#{composition.id}"}
																%a.icon-bullhorn{href:"#", id:"play-#{composition.id}", onclick: "soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: \"audio-#{composition.id}\", url: \"/assets/audio/#{composition.preferences[:audio]}\", autoLoad: false, autoPlay: false, volume: 50}); soundManager.play(\"audio-#{composition.id}\");} }); $(this).hide(); $(\"#pause-#{composition.id}\").show();" }
																%a.icon-pause{href:"#", style:"display: none;", id:"pause-#{composition.id}", onclick:"soundManager.stop(\"audio-#{composition.id}\"); $(this).hide(); $(\"#play-#{composition.id}\").show();" }
													- number += 1
				.span2.sidebar
					.section.genres
						%h6 Жанры
						%ul
							- @genres.each do |g|
								%li= link_to g.genre, show_category_path("Жанры", g.genre)
					.section.instruments
						%h6 Инструменты
						%ul 
							- @instruments.each do |i|
								%li= link_to i.instrument, show_category_path("Инструменты", i.instrument)
					.section.compositors
						%h6 Композиторы
						%ul
							- @composers.each do |composer|
								%li= link_to composer.short_composer, show_category_path("Композиторы", composer.author)