%article.container.sign_in_form
	.sign-in
		.page-header
			= link_to image_tag("logo_mini(tone).png"), "http://itnot.es/"
			%h1 Добро пожаловать!
		= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
			= devise_error_messages!
			.control-group
				= f.label :email, class: "control-label"
				.controls
					= f.email_field :email, id: "email", value: params[:email]
			.control-group
				= f.label 'Пароль', class: "control-label"
				.controls
					= f.password_field :password, id: "pwd", value: params[:pwd]
			.control-group
				.controls
					= f.submit "Войти", id: "go", class: "btn btn-info btn-large", onclick: "saveCredits();"
		.not-register
			= link_to "Еще не зарегестрированы?", new_user_registration_path


