%a.icon-upload{href: "#add-compositions-#{album.id}", title: "Добавить композиции в сборник"}(data-toggle="modal")
.modal.hide.fade{id: "add-compositions-#{album.id}"}
    .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h3 Добавление композиций в сборник
    .modal-body{style: "height: 200px;"}
        = form_for :upload, url: add_items_album_path(album) do |f|
            = f.hidden_field :where, value: params[:type]
            = f.label 'Выберите композиции'
            %br
            = compositions_select
            %br
            %br
            %br
            %br
            %br
            = f.submit 'Добавить', class: "btn btn-success"
    - script = "$(\"#add-compositions-#{album.id}\").modal('toggle');"
    %script= script