= link_to "", edit_items_album_path(album), class: "icon-edit", title: "Редактировать"
- unless album.active?
    = link_to "", sale_path('album', album), class: "icon-shopping-cart", title: "Продать"
    = link_to "", {controller: "items/albums", action: :destroy, id: album, from: "all"}, class: "icon-trash", method: :delete, confirm: "Вы точно хотите удалить альбом \"#{album.a_name}\"?", title: "Удалить"
- if !album.paused? && album.active?
    = link_to "", pause_sale_path('album', album), class: "icon-minus-sign", title: "Приостановить продажу", method: :post, confirm: "Вы уверены, что хотите приостановить продажу?"
- if album.paused?
    = link_to "", play_sale_path('album', album), class: "icon-plus-sign", title: "Вернуть в продажу", method: :post, confirm: "Вы уверены, что хотите вернуть в продажу?"
= render "move_album_to_compilation", album: album
= render "add_compositions_to_album", album: album