.page-header
    %h2
        Сборники
        %small= link_to "Добавить", new_items_album_path

- if @albums.any?
    .albums
        - @albums.each do |album|
            %a{href: "/items/albums/#{album.id}"}
                .album
                    = item_badge(album)
                    = image_tag(album.cover, size: "80x80", class: "thumbnail")
                    %span.album-name{title: album.a_name}= truncate(album.a_name, length: 50)
                    %br
                    %span.author{title: album.author}= album.short_composer
                    %br
                    %span.genre= album_genre(album)
                .controls= render "album_controls", album: album
- else
    %i Пока ничего нет