= link_to "", '#', class: "icon-edit", title: "Редактировать"
- unless composition.active?
    = link_to "", sale_path('composition', composition), class: "icon-shopping-cart", title: "Продать"
    = link_to "", {controller: "items/compositions", action: :destroy, id: composition, from: "all"}, class: "icon-trash", method: :delete, confirm: "Вы точно хотите удалить композицию \"#{composition.c_name}\"?", title: "Удалить"
- if !composition.paused? && composition.active?
    = link_to "", pause_sale_path('composition', composition), class: "icon-minus-sign", title: "Приостановить продажу", method: :post, confirm: "Вы уверены, что хотите приостановить продажу?"
- if composition.paused?
    = link_to "", play_sale_path('composition', composition), class: "icon-plus-sign", title: "Вернуть в продажу", method: :post, confirm: "Вы уверены, что хотите вернуть в продажу?"