.page-header
    %h2
        Коллекции
        %small= link_to "Добавить", new_items_compilation_path
- if @compilations.any?
    .albums
        - @compilations.each do |compilation|
            %a{:href => "/items/compilations/#{compilation.id}"}
                .compilation
                    - if !compilation.active?
                        %span.label.label-important Wait
                    - if compilation.active?
                        %span.label.label-success Sale
                    - if compilation.active? && compilation.paused?
                        %span.label.label-info Paused
                    %span.compilation-cover-mini.thumbnail
                        - compilation.albums.limit(4).each do |album|
                            = image_tag("/assets/covers/#{album.cover}", size: "60x60")
                    %span.album-name{:title => compilation.c_name}= truncate(compilation.c_name, length: 30)
                .controls
                    = #link_to "", '#', class: "icon-edit", title: "Редактировать"
                    - if !compilation.active?
                        = link_to "", sale_path('compilation', compilation), class: "icon-shopping-cart", title: "Продать"
                        = link_to "", {controller: "items/compilations", action: :destroy, id: compilation, from: "all"}, class: "icon-trash", method: :delete, confirm: "Вы точно хотите удалить коллекцию \"#{compilation.c_name}\"?", title: "Удалить"
                    - if !compilation.paused? && compilation.active?
                        = link_to "", pause_sale_path('compilation', compilation), class: "icon-minus-sign", title: "Приостановить продажу", method: :post, confirm: "Вы уверены, что хотите приостановить продажу?"
                    - if compilation.paused?
                        = link_to "", play_sale_path('compilation', compilation), class: "icon-plus-sign", title: "Вернуть в продажу", method: :post, confirm: "Вы уверены, что хотите вернуть в продажу?"
                    %a.icon-upload{href: "#add-albums-#{compilation.id}", title: "Добавить сборники в коллекцию"}(data-toggle="modal")
                    .modal.hide.fade{id: "add-albums-#{compilation.id}"}
                        .modal-header
                            %button.close(type="button" data-dismiss="modal" aria-hidden="true")
                                &times;
                            %h3 Добавление сборников в коллекцию
                        .modal-body{style: "height: 200px;"}
                            = form_for :upload, url: add_items_compilation_path(compilation) do |f|
                                = f.hidden_field :where, value: params[:type]
                                = f.label 'Выберите сборники'
                                %br
                                = select_tag :albums, options_from_collection_for_select(@all_albums, "id", "a_name"), placeholder: "Выберите сборники...", multiple: true, size: 10, class: "chzn-select"
                                %br
                                %br
                                %br
                                %br
                                %br
                                = f.submit 'Добавить', class: "btn btn-success"
                        - script = "$(\"#add-albums-#{compilation.id}\").modal('toggle');"
                        %script= script
- else
    %i Пока ничего нет