.page-header
    %h2
        Композиции
        %small= link_to "Добавить", new_items_composition_path

- if @compositions.any? && !@compositions.nil?
    %table.table.table-hover
        %thead
            %tr
                %th #
                %th Название
                %th Альбом
                %th Композитор
                %th Жанр
                %th Инструмент
                %th
        %tbody
            - @compositions.order("created_at ASC").each_with_index do |composition, row_number|
                %tr
                    %td= row_number + 1
                    %td
                        = link_to composition.c_name, items_composition_path(composition)
                        = item_badge(composition)
                    %td= composition_album(composition)
                    %td= composition.author
                    %td= composition_genre(composition)
                    %td= composition.instrument
                    %td
                        = render "layouts/player_for", composition: composition
                        = render "compositions_controls", composition: composition
                        = render "move_composition_to_album", composition: composition
- else
    %i Пока ничего нет