%a.icon-share{href: "#send-album-#{album.id}", title: "Переместить сборник в коллекцию"}(data-toggle="modal")
.modal.hide.fade{id: "send-album-#{album.id}"}
    .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h3 Переместить сборник в коллекцию
    .modal-body
        = form_for :send, url: send_items_album_path(album) do |f|
            = f.hidden_field :where, value: params[:type]
            = f.label 'В коллекцию', class: "control-label"
            %br
            = compilations_select
            %br
            %br
            %br
            = f.submit 'Переместить', class: "btn btn-success"
    - script = "$(\"#send-album-#{album.id}\").modal('toggle');"
    %script= script