%a.icon-share{href: "#send-composition-#{composition.id}", title: "Переместить композицию в альбом"}(data-toggle="modal")
.modal.hide.fade{id: "send-composition-#{composition.id}"}
    .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h3 Переместить композицию в сборник
    .modal-body
        = form_for :send, url: send_items_composition_path(composition) do |f|
            = f.hidden_field :where, value: params[:type]
            = f.label 'В сборник', class: "control-label"
            %br
            = albums_select
            %br
            %br
            %br
            = f.submit 'Переместить', class: "btn btn-success"
    - script = "$(\"#send-composition-#{composition.id}\").modal('toggle');"
    %script= script