= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.register.edit.composer
			.page-header
				%h2.edit-account 
					Начало продаж в магазине ITNotes
			.licence
				%h4 Прочтите и примите условия продаж в нашем магазине
				%p
					ВНИМАТЕЛЬНО ПРОЧИТАЙТЕ ЭТИ УСЛОВИЯ ИСПОЛЬЗОВАНИЯ, ПРЕЖДЕ ЧЕМ ПОЛЬЗОВАТЬСЯ УСЛУГАМИ, ПРЕДЛАГАЕМЫМИ СЕРВИСОМ ITNOTES, ЗАРЕГИСТРИРОВАННОМ В АРХАНГЕЛЬСКЕ. ЭТИ УСЛОВИЯ ИСПОЛЬЗОВАНИЯ СОДЕРЖАТ ЮРИДИЧЕСКИ ОБЯЗАТЕЛЬНЫЕ УСЛОВИЯ, КОТОРЫЕ ВЫ ДОЛЖНЫ СОБЛЮДАТЬ ПРИ ИСПОЛЬЗОВАНИИ ВЕБ-САЙТА 
					= link_to "HTTP://SHOP.ITNOT.ES/", root_path 
					("САЙТ") И УСЛУГ, ОПЦИЙ, КОНТЕНТА, ПРИЛОЖЕНИЙ ИЛИ ВИДЖЕТОВ, ПРЕДЛАГАЕМЫХ ITNOTES (ВМЕСТЕ С САЙТОМ В ДАЛЬНЕЙШЕМ ИМЕНУЕМЫЕ "СЕРВИС").
				%p 
					Здесь что-то надо написать. Про способы оплаты, про способы снятия денег со счета, процент с продаж. Ответственность и всякая такая ерунда.
			.accept
				= link_to "Отменить", :back, class: "btn"
				= link_to "Принять", {controller: "users/composers", action: "create"}, class: "btn btn-success", method: :post