%article.container-fluid.shop
	= render "layouts/head_bar"
	.row-fluid.all-controls
		.span2
			= render "layouts/nav"
		.span10
			= render "layouts/composer_help"
			.row-fluid
				.best.showcase
					.section= render "compilations"
					.section= render "albums"
					.section= render "compositions"