.modal.hide.fade{id: "add-compositions-to-#{album.id}"}
    .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h3 Добавление новой композиции в альбом
    .modal-body
        = form_for :composition, url: items_compositions_path, html: {class: "validatable-form", id: "composition"} do |f|
            = hidden_field_tag :album_id, value: album.id
            = f.hidden_field :genre, value: album.genre
            .row-fluid
                .span6
                    .control-group#composition-cover
                        = f.label 'Обложка', class: "control-label cover"
                        = f.file_field :file
                    .control-group
                        = f.label "PDF", class: "control-label"
                        = f.file_field :pdf
                    .control-group
                        = f.label "Аудио", class: "control-label"
                        = f.file_field :audio
                    .control-group
                        = f.label 'Название', class: "control-label"
                        = f.text_field :c_name
                    .control-group#instruments-group
                        = f.label 'Инструмент', class: "control-label"
                        = instruments_select
                .span6
                    .control-group
                        = f.label 'Описание', class: "control-label"
                        = f.text_area :description
                    .control-group
                        = f.label 'Автор', class: "control-label"
                        = f.text_field :author, value: album.author
                    .control-group
                        = f.label 'Цена ($)', class: "control-label"
                        = cost_select
            .control-group
                = f.submit 'Добавить', class: "btn btn-large btn-success", id: "create-btn"
    - script = "$(\"#add-compositions-to-#{album.id}\").modal('toggle');"
    %script= script