- if album.active?
  - if @inlib
    = link_to "Удалить альбом", items_album_path(@album), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить альбом: \"#{@album.a_name}\" из библиотеки?", title: "Удалить альбом"
  - elsif album.free?
    - if user_signed_in?
      = link_to "Добавить в библиотеку", {controller: "payments", action: "create", type: "free", what: "album", id: @album}, class: "btn btn-success btn-mini", method: :post
    - else
      %a.btn.btn-success.btn-mini{href:"#sign_in"}(data-toggle="modal") Скачать
      Необходима регистрация
  - else
    = link_to "Купить альбом", {controller: "payments", action: "create", type: "paid", what: "album", id: @album}, class: "btn btn-success btn-mini", method: :post