%h3 Список композиций
.compositions-list
    %table.table.table-hover
        %thead
            %tr
                %th #
                %th Название
                %th Композитор
                %th Инструмент
                - unless @inlib
                    %th Цена
                %th
        %tbody
            - album.compositions.order("created_at ASC").each_with_index do |composition, row_number|
                %tr
                    %td= row_number + 1
                    %td= link_to composition.c_name, items_composition_path(composition), title: "Кликните для просмотра композиции."
                    %td= link_to composition.author, show_category_path("Композиторы", composition.author)
                    %td= link_to composition.instrument, show_category_path("Инструменты", composition.instrument)
                    - unless @inlib
                        %td= composition_cost(composition)
                    %td.btns(width="100px")
                        = render "layouts/player_for", composition: composition