.modal.hide.fade{id: "edit-album-#{album.id}"}
    .modal-header
        %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
        %h3 Изменение информации об альбоме
    .modal-body
        = form_for album, url: items_album_path(album), method: :put, html: {class: "validatable-form", id: "album"} do |f|
            .row-fluid
                .span6
                    .control-group
                        = f.label 'Обложка', class: "control-label cover"
                        = f.file_field :file
                    .control-group
                        = f.label 'Название', class: "control-label"
                        = f.text_field :a_name
                    .control-group#genres-group
                        = f.label 'Жанр', class: "control-label"
                        = genres_select(album.genre)
                .span6
                    .control-group
                        = f.label 'Описание', class: "control-label"
                        = f.text_area :description
                    .control-group
                        = f.label 'Автор', class: "control-label"
                        = f.text_field :author
            .control-group
                = f.submit "Обновить", class: "btn btn-large btn-success", id: "create-btn"
    - script = "$(\"#edit-album-#{album.id}\").modal('toggle');"
    %script= script

