= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.container-fluid.library
			- if !@albums.any?
				.empty-library
					%h4 У вас нет сборников.
					%h4 Пора прикупить сборники в магазине.
			- else
				.section.albums
					.albums-list
						%table.table.table-hover
							%tbody
								- @albums.each do |album|
									%tr
										%td(rowspan=2)
											= link_to image_tag("/assets/covers/#{album.cover}", size: "80x80", class: "thumbnail"), items_album_path(album), title: "Просмотреть альбом"
										%td(colspan=3 rowspan=2)
											%span.name
												= album.a_name
											%span.author= album.author
											%br
											%span.description= truncate(album.description, length: 150)
											
										%td.with-border(rowspan=2 width="70px")
											.tools
												= link_to "", items_album_path(album), method: :delete, class: "icon-trash",confirm: "Вы уверены, что хотите удалить альбом: \"#{album.a_name}\" из библиотеки?", title: "Удалить альбом"