= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		= render "layouts/composer_help"
		.uploading
			.row-fluid
				.span6
					= form_for :album, url: items_albums_path, html: {class: "validatable-form", id: "album"} do |f|
						.control-group
							= f.label 'Обложка', class: "control-label cover"
							= f.file_field :file
						.control-group
							= f.label 'Название', class: "control-label"
							= f.text_field :a_name
						.control-group#genres-group
							= f.label 'Жанр', class: "control-label"
							= select_tag :genre, options_from_collection_for_select(Genre.all, "g_name", "g_name"), prompt: ""
						.control-group
							= f.label 'Описание', class: "control-label"
							= f.text_area :description
						.control-group
							= f.label 'Автор', class: "control-label"
							= f.text_field :author, value: "#{current_user.account.f_name} #{current_user.account.l_name}"
						.control-group
							= f.submit "Создать", class: "btn btn-large btn-success", id: "create-btn"
				.span6
					.page-header
						%h3 Подсказки
					%p
						%i.icon-info-sign 
						Все поля обязательны к заполнению!
					%p
						%i.icon-info-sign
						Композиции, которые по-вашему мнению должны входить в этот сборник вы сможете добавить потом на своей витрине.
					%p
						%i.icon-info-sign
						Если обложку сборника не выбирать, то она будет стандартной. Такой как на изображении в данный момент.
						%span= image_tag("no-cover.png", size: "50x50", class: "thumbnail")
					%p
						%i.icon-info-sign
						Если в списке инструментов или жанров вы не нашли нужного, то не стесняйтесь и напишите нам какого инструмента не хватает через форму обратной связи. Спасибо!