= render "layouts/head_bar"
.row-fluid.all-controls
  = user_navigation
  %div{class: @page_size }
    = render "layouts/search" if @inlib
    %section.container-fluid.album-view
      .section.information
        .page-header
          %h2= @album.a_name
        .row-fluid
          %div{class: @cover_size + " cover"}
            = image_tag(@album.cover, size: "150x150", class: "thumbnail")
            = render "buy_btns", album: @album
            .technical
              .cost= item_cost(@album) unless @inlib
              .date= "Размещен: " + @album.created_at.to_date.to_s(:db)
          .span9.about-album
            .small-data
              %span.genre
                Жанр:
                = link_to @album.genre, show_category_path("Жанры", @album.genre)
              %span.composer
                Композитор:
                = link_to @album.author, show_category_path("Композиторы", @album.author)
            %h4 Описание
            .about-album-text= @album.description
      .section.compositions= render "compositions_list", album: @album