%article.container-fluid.shop
	= render "layouts/head_bar"
	.row-fluid.all-controls
		- if user_signed_in?
			.span2
				= render "layouts/nav"
		%div{class: @page_size}
			= render "layouts/search"
			.row-fluid
				.span10.best
					.section.free-albums
						.page-header
							%h2 
								Коллекции
								%small= link_to "См.все", show_category_path("Коллекции", "Все коллекции")
						.albums
							- @compilations.each do |compilation|
								%a{:href => "items/compilations/#{compilation.id}"}
									.compilation
										%span.compilation-cover-mini.thumbnail
											- compilation.albums.limit(4).each do |album|
												= image_tag("/assets/covers/#{album.cover}", size: "60x60")
										%span.album-name{:title => compilation.c_name}= truncate(compilation.c_name, length: 30)
										%br
										%span.author{:title => compilation.author}= compilation.short_composer
					.section.top-albums
						.page-header
							%h2 
								Лучшие сборники
								%small= link_to "См.все", show_category_path("Лучшие сборники", "Все лучшие сборники")
						.albums
							- @best.each do |album|
								%a{:href => "items/albums/#{album.id}"}
									.album
										= image_tag("/assets/covers/#{album.cover}", size: "80x80", class: "thumbnail")
										%span.album-name{:title => album.a_name}= truncate(album.a_name, length: 17)
										%br
										%span.author{:title => album.author}= album.short_composer
										%br
										%span.genre= truncate(album.genre, length: 17)
					.section.new-albums
						.page-header
							%h2
								Новые сборники
								%small= link_to "См.все", show_category_path("Новые сборники", "Все новые сборники")
						.albums
							- @new.each do |album|
								%a{:href => "items/albums/#{album.id}"}
									.album
										= image_tag("/assets/covers/#{album.cover}", size: "80x80", class: "thumbnail")
										%span.album-name{:title => album.a_name}= truncate(album.a_name, length: 17)
										%br
										%span.author{:title => album.author}= album.short_composer
										%br
										%span.genre= truncate(album.genre, length: 17)					
					.section.popular-compositions
						- if @popular_compositions.any?
							.page-header
							%h2
								Популярные произведения
								/%small= link_to "См.все", show_category_path("Популярные композиции", "Все популярные композиции")
							.compositions-list
								- @popular_compositions.each do |composition|
									%a{:href => "items/compositions/#{composition.id}"}
										.composition
											- if !composition.album.nil?
												= image_tag("/assets/covers/#{composition.album.cover}", size: "80x80", class: "thumbnail")
												%span.composition-name= truncate(composition.c_name, length: 17) 
												%br
												%span.author= composition.short_composer
												%br
												%span.genre= truncate(composition.album.a_name, length: 17)
											- else
												= image_tag("/assets/covers/#{composition.cover}", size: "80x80", class: "thumbnail")
												%span.composition-name= truncate(composition.c_name, length: 17) 
												%br
												%span.author= composition.short_composer
				.span2.sidebar
					.section.genres
						%h6 Жанры
						%ul
							- @genres.each do |g|
								%li= link_to g.genre, show_category_path("Жанры", g.genre)
					.section.instruments
						%h6 Инструменты
						%ul 
							- @instruments.each do |i|
								%li= link_to i.instrument, show_category_path("Инструменты", i.instrument)
					.section.compositors
						%h6 Композиторы
						%ul
							- @composers.each do |composer|
								%li= link_to composer.short_composer, show_category_path("Композиторы", composer.author) if !composer.author.nil?