= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.container-fluid.library
			- if !current_user.library.compositions.any?
				.empty-library
					%h4 Ваша библиотека пуста.
					%h4 Пора прикупить композиции в магазине.
			- else
				- if @compositions.any?
					.section.compositions
						.compositions-list
							%table.table.table-hover
								%thead
									%tr
										%th #
										%th Название
										%th Альбом
										%th Композитор 
										%th Жанр
										%th Инструмент
										%th
								%tbody
									- number = 1
									- @compositions.each do |composition|
										%tr
											%td= number
											%td{title: composition.c_name}= truncate(composition.c_name, length: 20) 
											- if composition.album.nil?
												%td 
													\-
											- else
												%td{title: composition.album.a_name}= truncate(composition.album.a_name, length: 20)
											%td= composition.author
											%td= composition.genre
											%td= composition.instrument
											%td{width: "100px"}
												- if composition.preferences[:audio] != "null"
													.player{id: "audio-#{composition.id}"}
													%a.icon-bullhorn{href:"#", id:"play-#{composition.id}", onclick: "soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: \"audio-#{composition.id}\", url: \"/assets/audio/#{composition.preferences[:audio]}\", autoLoad: false, autoPlay: false, volume: 50}); soundManager.play(\"audio-#{composition.id}\");} }); $(this).hide(); $(\"#pause-#{composition.id}\").show();" }
													%a.icon-pause{href:"#", style:"display: none;", id:"pause-#{composition.id}", onclick:"soundManager.stop(\"audio-#{composition.id}\"); $(this).hide(); $(\"#play-#{composition.id}\").show();" }
												%a{href:"#preview-#{composition.id}", title: "Просмотреть"}(data-toggle="modal" class="icon-eye-open")
												.modal.hide.fade{id:"preview-#{composition.id}"}
													.modal-header
														%button.close(type="button" data-dismiss="modal" aria-hidden="true")
															&times;
														%h3= composition.c_name
													.modal-body
														.image-preview
															= image_tag("/assets/previews/#{composition.preferences[:preview]}") 
													- script = "$(\"#preview-#{composition.id}\").modal('toggle');"
													%script
														= script
												= form_tag(download_composition_path(composition)) do 
													= submit_tag "", class: "icon-download", title: "Скачать ноты на компьютер"
												- if composition.album_id == 0
													= link_to "", {controller: "items/compositions", action: :destroy, id: composition, from: "library"}, class: "icon-trash", method: :delete, confirm: "Вы точно хотите удалить композицию \"#{composition.c_name}\" из своей библиотеки?", title: "Удалить композицию из библиотеки"
										- number += 1