= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		= render "layouts/composer_help"
		.uploading
			.row-flid
				.span6		
					= form_for :composition, url: items_compositions_path, html: {class: "validatable-form", id: "composition"} do |f|
						.control-group#composition-cover
							= f.label 'Обложка', class: "control-label cover"
							= f.file_field :file
						.control-group
							= f.label "PDF", class: "control-label"
							= f.file_field :pdf
						/.control-group
						/	= f.label "Аудио", class: "control-label"
						/	= f.file_field :audio
						.control-group
							= f.label 'Название', class: "control-label"
							= f.text_field :c_name
						.control-group#instruments-group
							= f.label 'Инструмент', class: "control-label"
							= instruments_select
						.control-group#genres-group
							= f.label 'Жанр', class: "control-label"
							= genres_select
						.control-group
							= f.label 'Описание', class: "control-label"
							= f.text_area :description
						.control-group
							= f.label 'Автор', class: "control-label"
							= f.text_field :author, value: "#{current_user.account.f_name} #{current_user.account.l_name}"
						.control-group
							= f.label 'Цена ($)', class: "control-label"
							= cost_select
						.control-group
							= f.submit 'Добавить', class: "btn btn-large btn-success", id: "create-btn"
					.msg
				.span6
					.page-header
						%h3 Подсказки
					%p
						%i.icon-info-sign 
						Все поля обязательны к заполнению!
					%p
						%i.icon-info-sign 
						Ноты добавляются в формате PDF, в автоматическом режиме создается превью первой страницы, которое смогут посмотреть пользователи перед покупкой.
					%p
						%i.icon-info-sign
						Если обложку композиции не выбирать, то она будет стандартной. Такой как на изображении в данный момент.
						%span= image_tag("no-cover.png", size: "50x50", class: "thumbnail")
					%p
						%i.icon-info-sign
						Если вы собираетесь добавить эту композицию в сборник, то писать описание и добавлять обложку необязательно. При просмотре такой композиции в магазине описание и обложка берутся из сборника.
					%p
						%i.icon-info-sign
						Если в списке инструментов или жанров вы не нашли нужного, то не стесняйтесь и напишите нам какого инструмента не хватает через форму обратной связи. Спасибо!
					%p
						%i.icon-info-sign
						Цена композиции устанавливается в долларах США. Чем меньше цена, тем выше продажи. Если выбрать цену равной 0, то композиция будет распространятся бесплатно.
