= render "layouts/head_bar"
.row-fluid.all-controls
	- if user_signed_in?
		.span2
			= render "layouts/nav"
	%div{class: @page_size}
		- if @inlib == false 
			= render "layouts/search"
		%section.composition-view.container-fluid
			- if !@composition.active?
				:css
					.composition-view { opacity: 0.7;}
			.information
				.page-header
					%h2
						- if !@composition.active? 
							%span.marker.preview.label.label-important Предпросмотр
						= @composition.c_name
						- if @composition.preferences[:audio] != "null" 
							.player{id:"audio-#{@composition.id}"}
							%a{class: "btn", href:"#", id: "play-#{@composition.id}", onclick: "soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: \"audio-#{@composition.id}\", url: \"/assets/audio/#{@composition.preferences[:audio]}\", autoLoad: false, autoPlay: false, volume: 50}); soundManager.play(\"audio-#{@composition.id}\");} }); $(this).hide(); $(\"#pause-#{@composition.id}\").show();" }
								%i.icon-bullhorn
								Прослушать
							%a{class: "btn", href: "#", style: "display: none;", id: "pause-#{@composition.id}", onclick: "soundManager.stop(\"audio-#{@composition.id}\"); $(this).hide(); $(\"#play-#{@composition.id}\").show();" }
								%i.icon-stop
								Стоп
				.row-fluid
					.span9.about-album
						.row-fluid
							.span6
								= image_tag("/assets/previews/#{@composition.preferences[:preview]}")
							.span6
								- if !@composition.album.nil?
									.small-data
										%span.genre
											Жанр:
											= link_to @composition.album.genre, show_category_path("Жанры", @composition.album.genre)
										%span.composer
											Композитор:
											= link_to @composition.author, show_category_path("Композиторы", @composition.author)
										%span.cost
											Цена:
											- if @composition.cost == 0
												бесплатно
											- else
												= @composition.cost
												$
									%h4 Описание альбома
									.about-album-text= @composition.album.description
								- else
									.small-data
										%span.genre
											Жанр:
											= @composition.genre
										%span.composer
											Композитор:
											= @composition.author
										%span.cost
											Цена:
											- if @composition.cost == 0
												бесплатно
											- else
												= @composition.cost
												$
									%h4 Описание композиции
									.about-album-text= @composition.description
								.download
									- if user_signed_in? && @composition.active?
										- if @inlib == true
											= form_tag(download_composition_path(@composition)) do 
												= submit_tag "Скачать", class: "btn btn-success"
										- if @composition.free?
											= link_to "Добавить в библиотеку", {controller: "payments", action: "create", type: "free", what: "composition", id: @composition}, class: "btn btn-success", title: "Добавить композицию в библиотеку", method: :post, style: "float: left;"
											= form_tag(download_composition_path(@composition)) do 
												= submit_tag "Скачать", class: "btn"
										- else
											= link_to "Купить", {controller: "payments", action: "create", type: "paid", what: "composition", id: @composition}, class: "btn btn-success", title: "Купить композицию", method: :post, style: "float: left;"
									- elsif @composition.active?
										%a(href="#sign_in" class="btn btn-info" data-toggle="modal") Скачать
										Необходима регистрация
					.span3.cover
						- if !@composition.album.nil?
							= image_tag("/assets/covers/#{@composition.album.cover}", size: "150x150", class: "thumbnail")
							.album-name
								%strong= @composition.album.a_name
							%a.btn.btn.btn-mini{:href => "/items/albums/#{@composition.album.id}"}	Смотреть альбом
							.technical
								.cost
									- if @composition.album.free?
										%strong бесплатно
									- else
										Цена:
										= @composition.album.cost
										$
								.date
									Размещен:
									= @composition.album.created_at.to_date.to_s(:db)
						- else
							%span.album-cover= image_tag("/assets/covers/#{@composition.cover}", size: "150x150")
							.album-name
								%strong Не в альбоме				
							.technical
								.date
									Размещена:
									= @composition.created_at.to_date.to_s(:db)

			- if !@composition.album.nil? 
				- if @composition.album.compositions.count > 1
					.section.compositions
						%h3 Другие композиции альбома
						.compositions-list
							%table.table.table-hover
								%thead
									%tr
										%th #
										%th Название
										%th Композитор 
										%th Инструмент
										%th Цена
										%th
								%tbody
									- number = 1
									- @composition.album.compositions.where("id != #{@composition.id}").each do |composition|
										%tr
											%td= number
											%td= link_to composition.c_name, items_composition_path(composition), title: "Кликните для просмотра композиции."
											%td= link_to composition.author, show_category_path("Композиторы", composition.author)
											%td= link_to composition.instrument, show_category_path("Инструменты", composition.instrument)
											%td
												- if composition.free? 
													%strong бесплатно
												- else 
													= composition.cost
													$
											%td
												- if composition.preferences[:audio] != "null" 
													.player{id:"audio-#{composition.id}"}
													%a{class: "icon-bullhorn", href:"#", id: "play-#{composition.id}", onclick: "soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: \"audio-#{composition.id}\", url: \"/assets/audio/#{composition.preferences[:audio]}\", autoLoad: false, autoPlay: false, volume: 50}); soundManager.play(\"audio-#{composition.id}\");} }); $(this).hide(); $(\"#pause-#{composition.id}\").show();" }
													%a{class: "icon-pause", href: "#", style:"display:none;", id: "pause-#{composition.id}", onclick: "soundManager.stop(\"audio-#{composition.id}\"); $(this).hide(); $(\"#play-#{composition.id}\").show();" }
										- number += 1