= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.feedback
			.alert.alert-success
				Ваше сообщение отправлено, большое спасибо! Мы неприменно ответим вам! Спасибо за интерес к нашему продукту. Вы просто супер!
			%h1
				= image_tag("check.png")
				Спасибо!