= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.feedback
			%h2 Напишите нам
			= form_for @feedback ,:html => {:class => "form-horizontal"} do |f|
				.control-group
					= f.label 'Тема:', class: "control-label"
					.controls
						= f.select :theme, options_for_select([["Сообщение об ошибке"], ["Технический вопрос"], ["Жалоба"], ["Комерческий или финансовый вопрос"], ["Похвалить"], ["Другое"]])
				.control-group
					= f.label 'Сообщение:', class: "control-label"
					.controls
						= f.text_area :body
				= f.text_field :email, value: @feedback.email, type: "hidden"
				.control-group
					.controls
						= f.submit "Отправить", class: "btn btn-info btn-large"