@import "bootstrap";
@import "chosen";
@import "jquery.idealforms.min";

// Палитра
$red: #dd6964;
$blue: #354054;
$black: #444;
$gray: #777;
$normal-link: #08c;

body {
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
}

.container-fluid {
	padding: 0;
}

.container {
	padding: 0;
}

.player {
	display: none;
}

// Страница после успешной регистрации 
.info {
	text-align: center;
	h1, .text, .alert {
		text-align: center;
	}
	.alert {
		padding-left: 40px;
	}
	.btn {
		margin-top: 50px;
	}
}

.sizebl-alert {
	width: 643px;
	margin-left: 18px;
}

.alert-margin {
	margin-left: 5px;
}

// Поля форм с ошибками
.field_with_errors input{
	border-color: #B94A48;
	color: #B94A48;
}

.nav-bar {
	padding-top: 2px;
	height: 23px;
	background: whiteSmoke;
	border-bottom: 1px solid darken(whiteSmoke, 2%);
	a {
		font-weight: normal;
	}
	color: $black;
	text-align: center;
	.mail {
		color: $black;
	}
	.start-sale {
		margin-left: 15px;
	}
	.pull-right {
		margin-right: 15px;
	}
	.modal {
		a {
			color: $gray;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.sidebar {
	margin: 0;
	h6 {
		background: darken(white, 2%);
		border-bottom: 1px dotted darken(white, 10%);
		margin: 0;
		padding-left: 5px;
		cursor: default;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			margin-left: 0;
			a {
				color: lighten($black, 30%);
				margin-left: 5px;
				font-size: 12px;
			}
		}
	}
}

.nav {
	a {
		color: $black;
	}
	.nav-header {
		color: $black;
	}
	.included {
		padding-left: 19px;
		display: none;
	}
	width: 100%;
	background: white;
	height: 500px;

	.shop-link {
		margin-top: 8px;
	}

	.showcase-link {
		margin-bottom: 3px;
	}

	#library-link {
		margin-bottom: 3px;
		cursor: pointer;
	}

	li + .nav-header {
		margin-top: 0;
	}
}


.search {
		height: 22px;
		background: whiteSmoke;
		border-bottom: 1px solid darken(whiteSmoke, 10%);
		-webkit-border-radius: 0px 0px 0px 10px;
        		border-radius: 0px 0px 0px 10px;
		padding-top: 2px;
		overflow: hidden;
		.templates {
			list-style: none;
			margin-left: 20px;
			float: left;
			height: 20px;
			li {
				float: left;
				margin-right: 5px;
				a {
					font-size: 12px;					
					color: $black;
				}
			}
			li.icon {
				margin-right: 2px;
			}
			li.home {
				margin-right: 20px;
			}
		}
		.form-search {
			height: 20px;
			margin-top: -2px;
			text-align: right;
		}
		.search-query {
			font-size: 12px;
			padding: 0 0 0 5px;
			border: 1px solid darken(whiteSmoke, 5%);
			margin-left: 5px;
			&:focus {
				background: white;
				color: $black;
			}
		}
		button {
			background: transparent;
			border: 0;			
		}
		.company {
			height: 20px;
			display: inline-block;
			margin-top: -2px;
			font-family: Arial;
			font-weight: bold;
			font-size: 16px;
			padding-top: 4px;
			a {
				color: $red;
				text-shadow: none;
				span {
					color: $black;
					float: left;
				}
				&:hover {
					text-decoration: none;
				}
			}
			&.pull-right {
				padding-right: 10px;
			}
		}

	}

// Главная страница магазина welcome#shop
.shop {
	border-bottom: 1px solid darken(white, 10%);
	.row-fluid {
		.span2 {
			margin-left: 0;
			width: 17%;
		}
		.span10 {
			margin-left: 0;
			width: 83%;
		}
	}
	.page-header {
		padding-bottom: 5px;
	}
	h2, h6 {
		color: $black;
			small a {
				color: darken(whiteSmoke, 20%);
				&:hover {
					color: $normal-link;
					text-decoration: none;
				}
			}
	}

	.best {
		border-right: 1px solid darken(white, 10%);
		border-left: 1px solid darken(white, 10%);
		padding-bottom: 10px;
		background: white;
		.section {
			padding-left: 20px;
			background: white;
			h6 {
				padding-top: 5px;
				cursor: default;
			}
		}
		.albums, .compositions-list {
			display: inline-block;
			padding: 5px 0 0 0;
			a {
				color: $black;
				&:hover {
					span.album-name, span.composition-name {
						text-decoration: underline;
					}
				}
			}
			.album, .composition {
				width: 90px;
				height: 140px;
				float: left;
				margin-right: 10px;
				text-align: center;
				font-size: 10px;
				line-height: 12px;
				span.album-name, span.composition-name {
					font-size: 11px;
					padding-left: 5px;
				}
				span.author {
					cursor: default;
					color: lighten($black, 30%);
					padding-left: 5px;
				}
				span.genre {
					cursor: default;
					color: lighten($black, 45%);
				}
			}
		} 

	}
}

.album-view, .composition-view {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 500px;
	color: $black;
	.span3 {
	}
	.information {
		padding-left: 20px;
		.page-header {
			padding-bottom: 0;
			small {
				color: lighten($black, 50%);
                a {
                  font-size: 70%;
                }
			}
		}
		.cover {
			span.album-cover {
				height: 150px;
				width: 150px;
				display: block;
				border: 1px solid #c6c6c6;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
				box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
			}
			.btn {
				margin-top: 5px;
			}
		}
		.small-data {
			a {
				color: $gray;
				text-decoration: underline;
			}
			padding-bottom: 5px;
			span.genre, span.composer {
				padding-right: 10px;
			}
			span.genre, span.composer, span.cost {
				font-size: 11px;
				color: lighten($black, 30%);
			}
		}

		.about-album-text {
			color: lighten($black, 30%);
		}
		.technical {
			padding-top: 10px;
			.cost {
				padding-bottom: 5px;
			}
			.uploader, .date {
				line-height: 12px;
				font-size: 11px;
				color: lighten($black, 30%);
			}
		}
	}
	.compositions {
		padding-left: 20px;
		padding-top: 20px;
	}

	.download {
		margin-top: 20px;
		.btn {
			margin-right: 20px;
		}
	}
	table {
		a {
			color: $black;
		}
	}

}
// Страница регистрации и редактирования аккаунта
.sign_in_form {
	text-align: center;
	width: 100%;
	.sign-in {
		display: inline-block;
		padding-top: 10px;
		.page-header {
			img {
				margin-bottom: 50px;
			}
			margin-bottom: 40px;
		}
		h1, h2 {
			-webkit-text-stroke: .35px;
		}
		form {
			padding-right: 120px;
			text-align: left;
			.btn {
				margin-left: 50px;
				margin-top: 20px;
			}
		}
		.not-register {
			padding-top: 80px;
			text-align: center;
		}
	}
}
.register {
	.chzn-search {
		display: none;
	}
	.chzn-drop, .chzn-results {
		height: 100px;
	}
	&.edit {
		border-left: 1px solid darken(white, 10%);
		border-bottom: 1px solid darken(white, 10%);
		padding-bottom: 20px;
		.page-header {
			margin-top:0;
			padding-top: 10px;
		}
		.up-form {
			margin-left: 20px;
		}
		.btn {
			margin-left: 50px;
		}
		width: 99%;
		.row .span4 {
			span.avatar {
				margin-left: 35px;
			}
		}
	}
	&.composer {
		.licence {
			margin-top: 20px;
			margin-left: 50px;
		}
		p {
			font-size: 12px;
			width: 700px;
		}
	}
	width: 855px;
	.errors {
		margin-left: 170px;
		margin-bottom: 5px;
		color: red;
	}
	.errors h2, .errors li, .errors ul{
		margin-top: 5px;
		line-height: 15px;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		list-style: none;
		font-size: 10px;
		font-weight: normal;
	}
	.page-header {
		img {
				margin-left: 350px;
				margin-bottom: 50px;
			}
			margin-bottom: 0;
	}
	.alert {
		text-align: center;
	}
	.reg-form {
		padding-left: 110px;
	}
	h1 {
		padding-left: 345px;
	}
	.reg-form {
		margin-left: 55px;
	}
	textarea {
		height: 80px;
		width: 450px;
	}
	.date-select {
		select {
			width: 150px;
		}
	}
	.btn {
		margin-left: 70px;
		margin-top: 20px;
	}
	.row .span4 {
		span.avatar {
			width: auto;
			height: auto;
			display: inline-block;
			margin-left: 95px;
			border: 1px solid #c6c6c6;
			-moz-border-radius: 4px;
			-o-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
		}

	}
	.edit-account {
		margin-left: 50px;
	}

	.edit-btn {
		padding-left: 360px;
	}
}

.account {
	.btn {
		margin-left: 0;
		margin-top: 0;
	}
}

.composer {
	color: $black;
	.information {
		padding-left: 20px;
		.page-header {
			padding-bottom: 0;
		}
		.avatar {
			span.c-avatar {
				height: 150px;
				width: 150px;
				display: block;
				border: 1px solid #c6c6c6;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
				box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
			}
		}
		.small-data {
			padding-bottom: 5px;
			span.birthday {
				font-size: 11px;
				color: lighten($black, 30%);
			}
		}
		.about-composer-text {
			color: lighten($black, 30%);
		}
	}
	.compositions {
		padding-left: 20px;
		.page-header {
			padding-bottom: 0;
		}
		.small-data {
			padding-bottom: 5px;
			span.created {
				font-size: 11px;
				color: lighten($black, 30%);
			}
		}
		padding-top: 20px;
		.albums, .compositions-list {
			display: inline-block;
			padding: 5px 0 0 0;
			a {
				color: $black;
				&:hover {
					span.album-name {
						text-decoration: underline;
					}
				}
			}
			.album, .composition {
				width: 80px;
				float: left;
				margin-right: 10px;
				text-align: center;
				font-size: 10px;
				line-height: 12px;
				span.album-cover, span.composition-cover {
					height: 80px;
					width: 80px;
					display: block;
					border: 1px solid #c6c6c6;
					-moz-border-radius: 4px;
					-o-border-radius: 4px;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
					box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
				}
				span.album-name, span.composition-name {
					font-size: 11px;
				}
				span.author {
					cursor: default;
					color: lighten($black, 30%);
				}
				span.genre {
					cursor: default;
					color: lighten($black, 45%);
				}
			}
		}
	}
}

.cart {
	.empty-cart {
		text-align: center;
		height: 100%;
		background: image-url("cart.png") center no-repeat;
		color: lighten($black, 45%);
		h4 {
			font-weight: normal;
			padding-top: 150px;
		}
	}
}

.library {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 500px;
	display: block;
	table td {
		font-size: 13px;
	}
	.empty-library {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 150px;
		background: image-url("library.png") center no-repeat;
		color: lighten($black, 45%);
		h4 {
			font-weight: normal;
			margin-top: 130px;
		}
	}
	.albums {
		.albums-list {
			.table {
				.tools {
					padding-top: 25px;
				}
			}
		}
	}
	.albums, .albums-in-shop {
		overflow-x: hidden;
		.albums-list {
			.table { 
				td.with-border {
					border-right: 1px solid darken(white, 10%);
				}
				tr {
					border-top: 0;
					border-bottom: 1px solid darken(white, 10%);
				}
				span.description, span.count, span.author  {
					color: lighten($black, 30%);
				}
				span.name {
					font-size: 14px;
				}
			}
		}
	}
	.albums-in-shop {
		.albums-list {
			.table {
				.btns {
					padding-top: 20px;
					a {
						margin-top: 5px;
					}
				}
			}
		}
	}
	.compositions-in-shop, .albums-in-shop, .compositions {
		h3 {
			text-align: center;
			margin-bottom: 20px;
			margin-top: 40px;
		}
	}
	.compositions {
		.compositions-list {
			form {
				display: inline;
				width: 16px;
				input[type="submit"] {
					border: 0;
					background-color: white;
					width: 16px;
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.my {
		h3 {
			margin-top: 10px;
		}
	}
	.compositions-in-shop {
		.compositions-list {
			.table {
				.btns {
					a {
						margin-top: 0px;
					}
				}
			}
		}
	}
}



.notifications {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 500px;
	.alert {
		text-align: center;
	}
	.title-new {
		color: $normal-link;
	}
	tr:hover .title{
		text-decoration: underline;
	}
}

.feedback {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 500px;
	h2 {
		margin: 0 0 10px 158px;
		padding-top: 10px;
	}

	textarea {
		width: 500px;
		height: 300px;
	}

	select {
		width: 510px;
	}
}

.complete {
	.alert, .alert-success, h1 {
		text-align: center;
	}
	.btn {
		margin-top: 20px;
		margin-left: 280px;
	}
}

.wishes {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 500px;
	.alert, .alert-info, h1 {
		text-align: center;
	}
	.add-wish {
		text-align: center;
	}
	&.new {
		input[type="text"], textarea {
			width: 300px;
		}
		textarea {
			height: 100px;
		}
		h2 {
			margin: 10px 0 10px 160px;
		}
		.help-inline {
			color: #999;
			font-style: italic;
		}
	}
}

.statistic {
	.alert, .alert-info {
		text-align: center;
	}
	h3 {
		margin-left: 8px;
	}
}

.compilation {
	width: 130px;
	float: left;
	margin-right: 10px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	span.album-name, span.composition-name {
		font-size: 11px;
		padding-left: 5px;
	}
	span.author {
		cursor: default;
		color: lighten($black, 30%);
		padding-left: 5px;
	}
	.compilation-cover-mini {
		img {
			float: left;		
		}
		width: 120px;
		height: 120px;
	}
}
.compilation-cover-big {
	img {
		float: left;		
	}
	width: 150px;
	height: 150px;
}

td.tools {
	line-height: 5px;
}

.marker {
	position: absolute;
	top: 30px;
	&.preview {
		top: 55px;
	}
}

footer {
	padding: 40px 0;
	text-align: center;
	margin-top: 40px;
	color: $gray;
	p {
		font-size: 14px;
		color: $gray;
	}
	a {
		margin: 0 2em;
		color: $gray;
	}
}

.items {
	a {
		color: $black;
		&:hover {
			text-decoration: underline;
		}
	}
}

.showcase {
	.page-header {
		margin-top: 0;
		padding-top: 20px;
	}
	min-height: 500px;
	table.table {
		a {
			color: $black;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.albums {
		.controls {
			width: 20px;
			float: left;
			margin-top: 12px;
		}
	}
}

.uploading {
	border-left: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	min-height: 620px;
	padding-top: 40px;
	#composition-cover {
		span {
			float: left;
			margin-right: 10px;
		}
	}
	textarea {
		height: 150px;
	}
}

.sale-forms {
	padding-left: 20px;
	.thumbnail {
		width: 150px;
		height: 150px;
		display: block;
		img {
			margin: 0;
		}
	}
	.composition-sale {
		margin-top: 30px;
	}
	.album-sale {
		margin-top: 10px;
	}
	.composition-description, .album-description {
		margin-top: 10px;
	}
}

.order {
	.section {
		margin-left: 20px;
	}
	.page-header {
		margin: 0;
		padding-top: 20px;
		.pull-right {
			margin-right: 15px;
		}
	}
	.include {
		form {
			.pay {
				margin-top: 20px;
			}
		}
	}
}

.validatable-form {
	padding-left: 20px;
	textarea {
		height: 100px;
	}
}