= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		= render "layouts/composer_help"
		.uploading
			.row-flid
				.span6
					.sale-forms
						%h2 Направление на продажу
						%br
						- if @item == "composition"
							= form_for :composition, url: send_sale_path('composition', @composition), html: {class: "form-horizontal"} do |f|
								%h3 
									Композиция:
									= @composition.c_name
								.row-fluid
									.span5
										.thumbnail= image_tag("/assets/covers/#{@composition.cover}", size: "150x150")
									.span7
										.author
											%strong 
												Автор:
											= @composition.author
										.instrument
											%strong
												Инструмент:
											= @composition.instrument
										.genre
											%strong
												Жанр:
											= @composition.genre
										.cost
											%strong
												Цена:
											- if @composition.free?
												бесплатно
											- else 
												= @composition.cost
												$
										.comission
											%strong
												Комиссия магазина:
											- if @composition.free?
												0 $
											- else 
												= @composition.cost * 0.33
												$
										= f.submit "Продать", class: "btn btn-large btn-success composition-sale"
								.composition-description
									%strong
										Описание:
									= @composition.description
						- if @item == "album"
							= form_for :album, url: send_sale_path('album', @album), html: {class: "form-horizontal"} do |f|
								%h3 
									Сборник:
									= @album.a_name
								.row-fluid
									.span4
										.thumbnail= image_tag("/assets/covers/#{@album.cover}", size: "150x150")
									.span8
										.author
											%strong 
												Автор:
											= @album.author
										.genre
											%strong
												Жанр:
											= @album.genre
										.compositions-count
											%strong
												Кол-во композиций:
											= @album.compositions.count
										- if @cost == 0
											.cost
												%strong 
													Цена: 
												бесплатно
											.comission
												%strong
													Комиссия магазина: 
												0 $
											%br
										- else
											.cost
												%strong
													Цена:
												= @cost
												$
											.sale
												%strong
													Скидка (%):
												= select_tag :sale, @sale
											.comission
												%strong
													Комиссия магазина:
													= @cost * 0.33
													$ - скидка
										= f.submit "Продать", class: "btn btn-large btn-success album-sale"
								.album-description
									%strong
										Описание:
									= @album.description
								.album-compositions
									%h3 Вложенные композиции
									%table.table.table-hover
										%thead
											%tr
												%th #
												%th Название
												%th Композитор 
												%th Жанр
												%th Инструмент
												%th Цена
										%tbody
											- number = 1
											- @album.compositions.each do |composition|
												%tr
													%td= number
													%td
														= composition.c_name
													%td= composition.author
													- if composition.genre != ""
														%td= composition.genre
													- else 
														%td= composition.album.genre
													%td= composition.instrument
													%td
														- if composition.free?
															бесплатно
														- else 
															= composition.cost
															$
						- if @item == "compilation"
							= form_for :compilation, url: send_sale_path('compilation', @compilation), html: {class: "form-horizontal"} do |f|
								%h3 
									Коллекция:
									= @compilation.c_name
								.row-fluid
									.span4
										.thumbnail
											- @compilation.albums.limit(4).each do |album| 
												= image_tag("/assets/covers/#{album.cover}", size: "75x75")
									.span8
										.author
											%strong 
												Автор:
											= @compilation.author
										.genre
											%strong
												Жанр:
											= @compilation.genre
										.compositions-count
											%strong
												Кол-во сборников:
											= @compilation.albums.count
										- if @cost == 0
											.cost
												%strong 
													Цена: 
												бесплатно
											.comission
												%strong
													Комиссия магазина: 
												0 $
											%br
										- else
											.cost
												%strong
													Цена:
												= @cost
												$
											.sale
												%strong
													Скидка (%):
												= select_tag :sale, @sale
											.comission
												%strong
													Комиссия магазина:
													= @cost * 0.33
													$ - скидка
										= f.submit "Продать", class: "btn btn-large btn-success album-sale"
								.album-description
									%strong
										Описание:
									= @compilation.description
								.album-compositions
									%h3 Вложенные сборники
									%table.table.table-hover
										%thead
											%tr
												%th #
												%th Название
												%th Композитор 
												%th Жанр
												%th Цена
										%tbody
											- number = 1
											- @compilation.albums.each do |a|
												%tr
													%td= number
													%td
														= a.a_name
													%td= a.author
													%td= a.genre
													%td
														- album_cost = 0
														- a.compositions.each do |c|
															- album_cost += c.cost
														- if album_cost == 0
															бесплатно
														- else 
															= album_cost
															$						
				.span6
					.page-header
						%h3 Подсказки
					- if @item == 'composition'
						%p
							%i.icon-info-sign
							Комиссия магазина взимается при каждой покупке вашей композиции другими пользователями.
					- if @item == 'album'
						%p
							%i.icon-info-sign
							Цена сборника формируется из суммы цен композиций в нем, но вы можете установить скидку, которая будет действовать при покупке всего альбома целиком. Скидка не будет распространятся на композиции внутри сборника.
						%p
							%i.icon-info-sign
							Скидка устанавливается в процентах, от 0 до 50%. Мы посчитали такой размер наиболее разумным и установили шаг равный 5%, т.е. 0%, 5%, 10% и т.д.
						%p
							%i.icon-info-sign
							На сборник, содержащий только бесплатные композиции цену и скидку установить нельзя, они автоматически равны 0.
						%p
							%i.icon-info-sign
							Комиссия магазина взимается при каждой покупке вашей композиции или сборника другими пользователями.
					- if @item == 'compilation'
						%p
							%i.icon-info-sign
							Цена коллекции формируется из суммы цен сборников в нем, но вы можете установить скидку, которая будет действовать при покупке всего альбома целиком. Скидка не будет распространятся на альбомы и композиции внутри коллекции.
						%p
							%i.icon-info-sign
							Цена сборника формируется из суммы цен композиций в нем.
						%p
							%i.icon-info-sign
							Комиссия магазина взимается при каждой покупке вашей композиции, сборника или коллекции другими пользователями.
						%p
							%i.icon-info-sign
							На коллекцию, содержащую только бесплатные сборники цену и скидку установить нельзя, они автоматически равны 0.
					