<div class="section search">
	<ul class="templates">
		<li class="icon">
			<i class="icon-question-sign"></i>
		</li>
		<li class="llnk">
			<%= link_to "Как добавить композицию?", create_composition_help_path %>
		</li>
		<li class="icon">
			<i class="icon-question-sign"></i>
		</li>
		<li class="llnk">
			<%= link_to "Как создать сборник?", create_album_help_path %>
		</li>
		<li class="icon">
			<i class="icon-question-sign"></i>
		</li>
		<li class="llnk">
			<%= link_to "Как создать коллекцию?", create_compilation_help_path %>
		</li>
		<li class="icon">
			<i class="icon-question-sign"></i>
		</li>
		<li class="llnk">
			<%= link_to "Как все это продать?", sale_all_help_path %>
		</li>
	</ul>
	<div class="company pull-right">
		<a href="http://itnot.es/" title="Перейти на сайт">
			<span>IT</span>
			Notes
		</a>
	</div>
</div>