<div class="nav-bar">
	<span class="new-composer">
		<%- if user_signed_in? %>
			<%- if !current_user.account.composer? %>
				<a class="pull-left btn btn-info btn-mini start-sale" href="/users/composers/new">
					Продать
				</a>
			<%- else %>		
				<a class="pull-left btn btn-info btn-mini start-sale" href="/users/composers/<%= current_user.id %>?type=wait">
					Ожидают продажи
				</a>
			<% end %>		
		<% end %>
	</span>	
	<span class="position">
		<%= @position %>
	</span>
	<span class="user">
		<%- if user_signed_in? %>
			<%= link_to "Выйти", destroy_user_session_path, method: :delete, confirm: "Вы действительно хотите выйти?", class: "btn btn-mini btn-danger pull-right"%>
			<a class="pull-right mail" href="/users/accounts/<%= current_user.id %>/edit">
				<%- if current_user.account.f_name != "" && current_user.account.l_name != "" %>
					<%= current_user.account.f_name + " " + current_user.account.l_name %>
				<%- else %>
					<%= current_user.email %>
				<% end %>
			</a>
			<%- if current_user.account.composer? %>
				<span class="pull-right">Счет: <%= current_user.account.bill%> $</span> 
			<% end %>	
		<%- else %>
			<a href="#sign_in" class="pull-right btn btn-info btn-mini" data-toggle="modal">
				Войти
			</a>
		<% end %>
	</span>
	<%- if !user_signed_in? %>
		<div class="modal hide fade" id="sign_in">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3>Вход</h3>
			</div>
			<div class="modal-body">
				<%= form_for "user", :url => user_session_path, :html => {class: "form-horizontal"} do |f| %>
					<div class="control-group">
						<%= f.label :email, class: "control-label" %>
						<div class="controls">
							<%= f.email_field :email, id: "email" %>
						</div>
					</div>
					<div class="control-group">
						<%= f.label 'Пароль', class: "control-label" %>
						<div class="controls">
							<%= f.password_field :password %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<%= f.submit "Войти", class: "btn btn-info btn-large" %>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<div class="not-register">
								<%= link_to "Еще не зарегестрированы?", new_user_registration_path %>
							</div>	
						</div>
					</div>
				<% end %>
			</div>			
			<script type="javascript"> 
				$("#sign_in").modal('toggle');
			</script>
		</div>
	<% end %>
</div>