%ul.nav.nav-list.control-panel
	%li.nav-header.shop-link
		%a{href: "/"}
			%i.icon-shopping-cart
			Магазин
	- if current_user.account.composer?
		%li.nav-header.showcase-link
			%a{href: "/users/composers/#{current_user.id}?type=all"}
				%i.icon-list-alt
				Моя витрина
	%li.nav-header#library-link
		%i.icon-music
		Библиотека
	%li.included= link_to "Коллекции", items_compilations_path
	%li.included= link_to "Сборники", items_albums_path
	%li.included= link_to "Композиции", items_compositions_path
	%li.included= link_to "Пожелания", users_wishes_path
	%li
		%a{href: "/users/notifications"}
			%i.icon-info-sign
			Сообщения
	%li
		%a{href: "/feedbacks/new"}
			%i.icon-envelope
			Обратная связь