- unless composition.audio.url.nil?
    .player{id:"audio-#{composition.id}"}
    %a.icon-bullhorn{href:"#", id:"play-#{composition.id}", onclick:"soundManager.setup({ url: '/', onready: function (){ soundManager.createSound({ id: 'audio-#{composition.id}', url: '#{composition.audio}', autoLoad: false, autoPlay: false, volume: 50}); soundManager.play('audio-#{composition.id}');} }); $(this).hide(); $('#pause-#{composition.id}').show();"}
    %a.icon-pause{href:"#", style:"display:none;", id:"pause-#{composition.id}", onclick: "soundManager.stop('audio-#{composition.id}'); $(this).hide(); $('#play-#{composition.id}').show();"}