<div class="section search">
	<ul class="templates">
		<li class="icon home">
			<%= link_to "", root_path, class: "icon-home", title: "На главную"%>
		</li>
		<%- Group.all.each do |group| %>
			<%- if group.g_name != "Промо" %>
				<li class="icon">
					<i class="icon-star"></i>
				</li>
				<li class="llnk">
					<%= link_to group.g_name, items_group_path(group) %>
				</li>
			<%- end %>
		<%- end %>
		<li>	
			<%= form_tag(show_category_path("Все", "Поиск"), :html => {class: "form-search"}, method: :get) do %>
				<%= text_field_tag :search, "", class: "search-query" %>
				<button type="submit">
					<i class="icon-search"></i>
				</button>
			<% end %>
		</li>
	</ul>
	<div class="company pull-right">
		<a href="http://itnot.es/" title="Перейти на промо-сайт">
			<span>IT</span>
			Notes
		</a>
	</div>
</div>