!!!
%html
	%head
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= javascript_include_tag "/soundmanager2.js"
		= csrf_meta_tags
		%title ITNotes
%body
	= yield
	%footer
		%p
			= link_to 'О нас', "http://itnot.es/about_us"
			= link_to 'Помощь', "http://itnot.es/help"
			= link_to 'Условия', "http://itnot.es/licence"
			= link_to 'Политики', "http://itnot.es/privacy_policy"
			= link_to 'Связаться', 'mailto:support@itnot.es'
			= link_to 'Блог', "http://itnot.es/blog"
			© 2012 ITNotes. Сделано с любовью.
