= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		.container-fluid.library
			- if !@compilations.any?
				.empty-library
					%h4 У вас нет коллекций.
					%h4 Пора прикупить коллекций в магазине.
			- else
				.section.albums
					.albums-list
						%table.table
							%tbody
								- @compilations.each do |compilation|
									%tr
										%td(rowspan=2)
											%a{href: items_compilation_path(compilation), title: "Просмотреть издание"}
												.compilation-cover-big.thumbnail
													- compilation.albums.limit(4).each do |album|
														= image_tag("/assets/covers/#{album.cover}", size: "75x75")
										%td(colspan=3 rowspan=2)
											%span.name
												= compilation.c_name
											%span.author= compilation.author
											%br
											%span.description= truncate(compilation.description, length: 150)
										%td(rowspan=2 width="70px")
											.tools
												= link_to "", items_compilation_path(compilation), method: :delete, class: "icon-trash",confirm: "Вы уверены, что хотите удалить издание: \"#{compilation.c_name}\" из библиотеки?", title: "Удалить издание"
											