= render "layouts/head_bar"
.row-fluid.all-controls
	.span2
		= render "layouts/nav"
	.span10
		= render "layouts/composer_help"
		.uploading
			.row-flid
				.span6
					= form_for :compilation, url: items_compilations_path, html: {class: "validatable-form", id: "compilation"} do |f|
						.control-group
							= f.label 'Название', class: "control-label"
							= f.text_field :c_name
						.control-group
							= f.label 'Описание', class: "control-label"
							= f.text_area :description
						.control-group
							= f.label 'Автор', class: "control-label"
							= f.text_field :author, value: "#{current_user.account.f_name} #{current_user.account.l_name}"
						.control-group
							= f.submit "Создать", class: "btn btn-large btn-success", id: "create-btn", style: "display:none;"
					%a.btn.btn-large#fake-btn-3{href:'#', style: "margin-left:150px; margin-top:-20px;"} Добавить
					.msg
				.span6
					.page-header
						%h3 Подсказки
					%p
						%i.icon-info-sign 
						Все поля обязательны к заполнению!
					%p
						%i.icon-info-sign
						Сборники, которые по вашему мнению должны быть в этой коллекции, вы сможете добавить потом на своей витрине.
					%p
						%i.icon-info-sign
						Обложка для коллекции формируется автоматически, из первых 4 обложек входящих альбомов. Не беспокойтесь по этому поводу.
					%p
						%i.icon-info-sign
						Если в списке инструментов или жанров вы не нашли нужного, то не стесняйтесь и напишите нам какого инструмента не хватает через форму обратной связи. Спасибо!
