<%= render "layouts/head_bar" %>
<div class= "row-fluid all-controls">
	<%- if user_signed_in? %>
		<div class="span2">
			<%= render "layouts/nav" %>
		</div>
	<% end %>
	<div class="<%= @page_size %>">
		<%- if @inlib == false %>
			<%= render "layouts/search" %>
		<%- end %>	
		<section class="container-fluid album-view">
			<%- if !@compilation.active? %>
				<style>
					.album-view {
						opacity: .6;
					}
				</style>
			<%- end %>
			<div class="section information">
				<div class="page-header">
					<h2><%= @compilation.c_name %></h2>
					<%- if @inlib == true %>
						<span class="marker label label-important">Куплено</span>
					<%- end %>
					<%- if !@compilation.active? %>
						<span class="marker preview label label-important">Предпросмотр</span>
					<%- end %>
				</div>
				<div class="row-fluid">
					<div class="<%= @cover_size %> cover">
						<div class="compilation-cover-big thumbnail">
							<%- @compilation.albums.limit(4).each do |album| %>
								<%= image_tag("/assets/covers/#{album.cover}", size: "75x75")%>
							<%- end %>
						</div>
						<%- if @compilation.active? %>
							<%- if @inlib == true %>
								<%= link_to "Удалить коллекцию", items_compilation_path(@compilation), method: :delete, class: "btn btn-danger btn-mini",confirm: "Вы уверены, что хотите удалить издание: \"#{@compilation.c_name}\" из библиотеки?", title: "Удалить издание" %>
							<%- elsif @compilation.free? %>
								<%- if user_signed_in? %>
									<%= link_to "Добавить в библиотеку", {controller: "payments", action: "create", type: "free", what: "compilation", id: @compilation}, class: "btn btn-success btn-mini", method: :post %>
								<%- else %>
									<a href="#sign_in" class="btn btn-success btn-mini" data-toggle="modal">
										Скачать
									</a>
									Необходима регистрация
								<% end %>
							<%- else %>
								<%- if user_signed_in? %>
									<%= link_to "Купить коллекцию", {controller: "payments", action: "create", type: "paid", what: "compilation", id: @compilation}, class: "btn btn-success btn-mini", method: :post %>
								<%- else %>
									<a href="#sign_in" class="btn btn-success btn-mini" data-toggle="modal">
										Скачать
									</a>
									Необходима регистрация
								<% end %>
							<% end %>
						<% end %>
						<div class="technical">
							<%- if @inlib != true %>
								<div class="cost">
									<%- if @compilation.free? %>
										<strong> бесплатно </strong>
									<%- else %>
										Цена: <%= @compilation.cost %> $
									<%- end %>
								</div>
							<%- end %>
							<div class="date">
								Размещено: <%= @compilation.created_at.to_date.to_s(:db) %>
							</div>
						</div>
					</div>
					<div class="span9 about-album">
						<div class="small-data">
							<span class="composer">Композитор: <%= link_to @compilation.author, show_category_path("Композиторы", @compilation.author ) %> </span>
						</div>
						<h4>Описание</h4>
						<div class="about-album-text"><%= @compilation.description %></div>
					</div>
				</div>
			</div>
			<div class="section compositions">
				<h3>Список сборников</h3>
				<div class="compositions-list">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> # </th>
								<th>Название</th>
								<th>Композитор</th> 
								<th>Композиций</th>
								<%- if @inlib == false %>
									<th>Цена</th>
								<%- end %>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<%- number = 1 %>
							<%- @compilation.albums.each do |album| %>
								<tr>
									<td><%= number %></td>
									<td><%= link_to album.a_name, items_album_path(album), title: "Кликните, чтобы просмотреть альбом." %></td>
									<td><%= link_to album.author, show_category_path("Композиторы", album.author) %></td>
									<td><%= album.compositions.count.to_s %></td>
									<%- if @inlib == false %>
										<td>
											<%- if album.free? %>
												<strong> бесплатно </strong>
											<%- else %> 
												<%= album.cost %> $
											<%- end %>
										</td>
									<%- end %>
								</tr>
								<%- number += 1 %>
							<%- end %>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>