%article.container.register
  .page-header
    = link_to image_tag("logo_mini(tone).png"), "http://itnot.es/"
    %h1 Шаг 1 из 2.
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
    .alert.alert-info
      Пожалуйста пройдите процедуру регистрации. Это займет совсем немного времени. Для начала укажите свою почту и придумайте себе пароль, никому и никогда не сообщайте его.
    .reg-form
      .errors
        = devise_error_messages!
      .control-group
        = f.label :email, class: "control-label"
        .controls
          = f.email_field :email
      .control-group
        = f.label 'Пароль', class: "control-label"
        .controls
          = f.password_field :password
      .control-group
        = f.label 'Подтверждение', class: "control-label"
        .controls
          = f.password_field :password_confirmation
      .control-group
        .controls
          = f.submit "Далее", class: "btn btn-info btn-large"
